<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header class="p-3 text-bg-dark border-bottom mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'image/5b2a3fbf43d1912c5865eef4facb24df.jpg' %}" alt="" height="40">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">首页</a></li>
          <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
  
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
<main class="container bg-white p-3 rounded">
  <h1>博客列表</h1>
  <div class="row row-cols-2 row-gap-4">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          帖子
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      <div class="card-footer text-body-secondery d-flex justify-content-between">
        <div>
          <img src="{% static 'image/09ab4b5b67414596b74f62378ea65489.jpg' %}" height="40" class="rounded-circle" alt="">
        </div>
        <div>发布时间</div>
      </div>
      </div>
    </div>

  </div>

</main>
</body>
</html>