{% extends "base.html" %}


{% block titelname %}注册{% endblock titelname %}


{% block head %}
    
    <script 
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock head %}
    

{% block main %}
  <div class="m-auto" style="max-width: 330px;">
        <h1>注册</h1>
        <form action="" method="post">
            <!-- <input type="hidden" name="csrfmiddlewaretoken" value="fafdgdsagdsg"> -->
            {% csrf_token %}
            <div class="mb-3">
                <label for="">用户名</label>
                <input type="text" name="username" class="form-control" placeholder="请输入用户名">
            </div>
            <div class="mb-3">
                <label for="">邮箱</label>
                <input type="email" name="email" class="form-control" placeholder="请输入邮箱">
            </div>
            <div class="mb-3">
                <label for="">密码</label>
                <input type="password" name="password" class="form-control" placeholder="请输入密码">
            </div>
            <div class="mb-3">
                <label for="">验证码</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="captcha" placeholder="验证码" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="btn btn-primary" id="captcha_button">获取验证码</button>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-100">注册</button>
            </div>
        </form>
    </div>

{% endblock main %}
  