<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block titlename %}
        
    {% endblock titlename %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    {% block head %}
        
    {% endblock head %}
        
</head>
<body>
    <header class="p-3 text-bg-dark border-bottom mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'image/5b2a3fbf43d1912c5865eef4facb24df.jpg' %}" alt="" height="40">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">首页</a></li>
          <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
  
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        
        {% if user.is_authenticated %}
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% static 'image/09ab4b5b67414596b74f62378ea65489.jpg' %}" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{% url 'zokoauth:logout' %}">Sign out</a></li>
              </ul>
            </div>
        {% else %}
            <div class="text-end">
              <a href="{% url 'zokoauth:login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
              <a href="{% url 'zokoauth:register' %}" type="button" class="btn btn-warning">Sign-up</a>
            </div>
        {% endif %}
          

        {% comment %} <div class="text-end">
          <a href="{% url 'zokoauth:login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'zokoauth:register' %}" type="button" class="btn btn-warning">Sign-up</a>
        </div> {% endcomment %}
      </div>
    </div>
  </header>
<main class="container bg-white p-3 rounded">
    
    {% block main %}
        
    {% endblock main %}
        
</main>
</body>
</html>